/* CSS declarations go here */
body {
  font-family: Georgia, sans-serif;
}

.point {
  margin-top: 5px;
  margin-left: 40px;
}
.concept {
  font-weight: bold;
  font-size: 24px;
}

.details {
  margin-left: 20px;
}
